$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FE00A9;
$secondary_paletteKeyColor: #9B6A74;
$tertiary_paletteKeyColor: #A86465;
$neutral_paletteKeyColor: #857279;
$neutral_variant_paletteKeyColor: #887179;
$background: #1C1015;
$onBackground: #F4DCE4;
$surface: #1C1015;
$surfaceDim: #1C1015;
$surfaceBright: #44353B;
$surfaceContainerLowest: #160B10;
$surfaceContainerLow: #25181D;
$surfaceContainer: #291C21;
$surfaceContainerHigh: #34262C;
$surfaceContainerHighest: #403137;
$onSurface: #F4DCE4;
$surfaceVariant: #554149;
$onSurfaceVariant: #DAC0C9;
$inverseSurface: #F4DCE4;
$inverseOnSurface: #3B2C32;
$outline: #A28A93;
$outlineVariant: #554149;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFAFD2;
$primary: #FFAFD2;
$onPrimary: #63003F;
$primaryContainer: #8B005A;
$onPrimaryContainer: #FFD8E7;
$inversePrimary: #B60077;
$secondary: #F1B7C3;
$onSecondary: #4B252E;
$secondaryContainer: #673D47;
$onSecondaryContainer: #FFDBE1;
$tertiary: #FFB3B3;
$onTertiary: #532022;
$tertiaryContainer: #C57D7E;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFD8E7;
$primaryFixedDim: #FFAFD2;
$onPrimaryFixed: #3D0025;
$onPrimaryFixedVariant: #8B005A;
$secondaryFixed: #FFD9E0;
$secondaryFixedDim: #F1B7C3;
$onSecondaryFixed: #32101A;
$onSecondaryFixedVariant: #643B45;
$tertiaryFixed: #FFDAD9;
$tertiaryFixedDim: #FFB3B3;
$onTertiaryFixed: #380B0F;
$onTertiaryFixedVariant: #6F3637;
$success: #B5CCBA;
$onSuccess: #213528;
$successContainer: #374B3E;
$onSuccessContainer: #D1E9D6;
$term0: #26161C;
$term1: #FF4899;
$term2: #FFBABC;
$term3: #FFDEE1;
$term4: #B3A3D5;
$term5: #E790B7;
$term6: #FFBA92;
$term7: #EED1D3;
$term8: #CBB4B6;
$term9: #FFA6C3;
$term10: #FFFBFF;
$term11: #FFFFFF;
$term12: #D5DAF9;
$term13: #FFCCDF;
$term14: #FFF9F8;
$term15: #FFD8E7;
